// Color
:root {
  --canvas: var(--secondary-very-high);
  --shadow: 0 1px 1px hsl(30deg 0% 0% / 0.025), 0 2px 2px hsl(30deg 0% 0% / 0.025), 0 4px 4px hsl(30deg 0% 0% / 0.02), 0 8px 8px hsl(30deg 0% 0% / 0.015), 0 16px 16px hsl(30deg 0% 0% / 0.01);
}
body {
  background-color: var(--canvas);
}

// Font
html.desktop-view {
  font-size: 16px;
}

:root {
	--d-max-width: 80%;
}

.topic-body {
	width: 90%;
}

#reply-control {
    max-width: 80%;
}

.has-sidebar-page #reply-control:not(.fullscreen) {
    width: 80%;
    max-width: calc(var(--d-max-width) + var(--d-sidebar-width)/2 - 1.5rem);
    margin-left: 0;
    margin-right: 0;
    transform: translateX(calc((100vw - var(--d-max-width) - var(--d-sidebar-width) / 0.5) / 2 + 17em + 1rem));
}

.body-page {
    width: 100%;
    max-width: 100%;
}

img.avatar {
    display: none;
}

.topic-body .topic-meta-data {
    display: none;
}

html.anon #topic-footer-buttons {
    display: none;
}

//section.post-menu-area {
//    display: none;
//}

.topic-avatar {
    display: none;
}

.more-topics__container {
    display: none;
}

.topic-card .main-link .topic-card__op {
    display: none;
}

.topic-card .main-link .topic-card__likes {
    display: none;
}

.topic-card .main-link .topic-card__metadata {
    justify-content: right;
}

.topic-list-bottom {
    display: none;
}

.topic-card__thumbnail .main-thumbnail {
    object-fit: contain;
}

nav.post-controls .actions .double-button {
    display: none;
}

.topic-status-info, .topic-timer-info {
    display: none;
}

.d-header .header-buttons .login-button {
    display: none;
}
